### Top-level config file for train.py

# Top-level variables available in all config files
sample_rate: 16000
description: "${hydra:runtime.choices.lightning_datamodule}: ${lightning_datamodule.id}"

# Hydra configuration
version_base: "1.3"
hydra:
  job:
    chdir: True # change working directory to the job directory
  run:
    dir: "outputs/run/${hydra:runtime.choices.lightning_datamodule}/${lightning_datamodule.id}/${now:%Y-%m-%d_%H-%M-%S}"

# Composing configs
defaults:
  - lightning_datamodule: null # NEEDS TO BE OVERRIDDEN, will also determinate the metrics and the run directory
  - lightning_module: null # NEEDS TO BE OVERRIDDEN
  - trainer: ddp
  - callbacks: # Dict of callbacks
      - bwe_checkpoint
      - rich_model_summary
  - logging: tensorboard
  - metrics: ${lightning_datamodule}
  - _self_ # priority is given to train.yaml for overrides
